
extends layout.pug

block content
    section#content
    
      if side === "q"
        p  This one is worth :  #{score} points
      else  
         p That one was worth:  #{score} points 
          
      h2= text
      
      if hint 
        br
        p
          i Hint: #{hint}
      
      if prompt
        
          br
          b #{prompt}
      
      