
extends layout.pug

block content
    section#content
    
      if side === "question"
        p  This one is worth :  #{score} points
      else  
         p That one was worth:  #{score} points 
          
      h2= text
      
      if hint 
        br
        p
          i Hint: #{hint}
      
      a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
      br
      br
      a(href='/cards') Next card
      if prompt
        
          br
          b #{prompt}
          br
          a(href=`${(id)}?side=${sideToShow}`)= sideToShowDisplay
          br
          a(href='/cards') Next card
          
      